.hero {
  padding: 233px 0 165px;
  position: relative;

  &__title {
    max-width: 543px;
    font-size: 76px;
    line-height: 0.86;
    letter-spacing: -1px;
    margin-bottom: 36px;
  }

  &__description {
    max-width: 477px;
    font-size: 20px;
    margin-bottom: 50px;
  }

  &__green-circle {
    border-radius: 50%;
    background-color: $brand-color;
    width: 825px;
    height: 825px;
    overflow: hidden;
    position: absolute;
    right: -180px;
    top: -265px;
  }

  &__image {
    position: absolute;
    left: 97px;
    bottom: -32px;
  }

  &__image-text {
    position: absolute;
    top: 348px;
    left: 356px;
  }

  &__image-text-name {
    font-family: "Brusthy";
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1;
  }

  &__image-text-team {
    position: absolute;
    top: 30px;
    left: 96px;
    font-size: 20px;
    color: $white;
  }

  &__picture {
    position: absolute;

    &--1 {
      top: 13px;
      left: 62px;
    }

    &--2 {
      top: 55px;
      left: 240px;
    }

    &--3 {
      top: -49px;
      left: 410px;
    }

    &--4 {
      top: 70px;
      left: 570px;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    margin-right: 22px;
  }

  &__circle-1 {
    top: 27px;
    left: 220px;
  }

  &__circle-2 {
    top: -56px;
    left: 690px;
  }

  &__circle-3 {
    top: 184px;
    left: 447px;
  }

  &__circle-4 {
    top: 341px;
    left: 725px;
  }

  &__triangle {
    transform: rotate(-48deg);
    top: 266px;
    left: -11px;
  }
}
