.members {
  position: relative;

  &__team {
    position: relative;
    display: flex;
    margin-bottom: 86px;

    &-image-1 {
      position: relative;
      left: -38px;
    }

    &-image-2 {
      position: relative;
      top: 15px;
      margin-bottom: 15px;
    }

    &-2 {
      position: relative;
      left: 90px;
    }
    &-3 {
      position: relative;
      left: 170px;
    }

    &-4 {
      position: relative;
      left: 290px;
    }

    &-name {
      font-size: 24px;
      line-height: 1.25;
      font-weight: bold;
      margin-top: 20px;
    }

    &-typeface {
      font-size: 18px;
      line-height: 1.67;
      color: $color-profession;
    }

    &-description {
      width: 221px;

      &-team-image-2 {
        margin-bottom: 40px;
      }
    }

    &-social-icons {
      display: flex;
      color: $brand-color;

      &-twitter {
        margin-right: 10px;
      }
    }
  }

  &__circle-1 {
    top: 90px;
    left: 180px;
  }

  &__rectangle-1 {
    top: 50px;
    left: -70px;
  }

  &__triangle-1 {
    top: 250px;
    left: -15px;
  }

  &__triangle-2 {
    top: 240px;
    left: 300px;
  }

  &__circle-2 {
    top: 350px;
    left: 570px;
  }

  &__rectangle-2 {
    top: 100px;
    left: 593px;
  }

  &__circle-3 {
    top: 80px;
    left: 670px;
  }

  &__rectangle-3 {
    top: 130px;
    left: 920px;
  }

  &__rectangle-4 {
    top: 40px;
    left: 990px;
  }

  &__triangle-3 {
    top: 230px;
    left: 1130px;
  }
  &__circle-4 {
    top: 0px;
    left: 1200px;
  }
}
