.our-skills {
  margin-bottom: 141px;
  font-weight: 500;
  line-height: 1.05;
  letter-spacing: -0.75px;
  text-align: center;

  &__text {
    font-size: 42px;
    padding: 0 300px;
  }

  &--typeface {
    margin-bottom: 45px;
  }
}
