.row {
  &__grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    margin-bottom: 175px;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__col {
    &-title {
      font-size: 20px;
      color: $brand-color;
    }

    &-text {
      max-width: 263px;
    }
  }

  &__shapes {
    position: relative;
  }

  &__circle {
    position: absolute;

    &-1 {
      top: -330px;
    }

    &-2 {
      top: -440px;
      left: 280px;
    }

    &-3 {
      top: -500px;
      left: 540px;
    }

    &-4 {
      top: -290px;
      left: 580px;
    }

    &-5 {
      top: -340px;
      left: 860px;
    }

    &-6 {
      top: -310px;
      left: 950px;
    }
  }

  &__triangle {
    &-1 {
      top: -510px;
      left: 20px;
      transform: rotate(120deg);
    }

    &-2 {
      top: -500px;
      left: 800px;
      transform: rotate(-60deg);
    }

    &-3 {
      top: -500px;
      left: 1120px;
    }
  }

  &__rectangle-1 {
    top: -300px;
    left: 1230px;
  }
}
