* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $color-text-body;
  font-family: $font-family-base;
  font-size: $font-size-base;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 24px;
}

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 24px;
}
