@font-face {
  font-family: "BrandonText";
  src: url("../fonts/BrandonText-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BrandonText-Bold.otf") format("opentype"),
    url("../fonts/BrandonText-Bold.woff") format("woff"),
    url("../fonts/BrandonText-Bold.ttf") format("truetype"),
    url("../fonts/BrandonText-Bold.svg#BrandonText-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BrandonText";
  src: url("../fonts/BrandonText-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BrandonText-Regular.otf") format("opentype"),
    url("../fonts/BrandonText-Regular.woff") format("woff"),
    url("../fonts/BrandonText-Regular.ttf") format("truetype"),
    url("../fonts/BrandonText-Regular.svg#BrandonText-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BrandonText";
  src: url("../fonts/BrandonText-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BrandonText-Light.otf") format("opentype"),
    url("../fonts/BrandonText-Light.woff") format("woff"),
    url("../fonts/BrandonText-Light.ttf") format("truetype"),
    url("../fonts/BrandonText-Light.svg#BrandonText-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brusthy";
  src: url("../fonts/BrusthyRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BrusthyRegular.otf") format("opentype"),
    url("../fonts/BrusthyRegular.woff") format("woff"),
    url("../fonts/BrusthyRegular.ttf") format("truetype"),
    url("../fonts/BrusthyRegular.svg#BrusthyRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins-Medium.ttf") format("truetype"),
    url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
