$white: #fff;
$shamrock: #36d966;
$martinique: #2e354b;
$silver: #c4c4c4;
$purple-heart: #4536d9;
$alto: #dfdfdf;

$body-bg: $white;
$color-text-body: $martinique;
$brand-color: $shamrock;
$color-profession: $silver;
$color-figures: $purple-heart;


